<mat-card fxLayout="column" fxLayoutAlign="start stretch">
  <mat-card-header> <mat-card-title>Delete User</mat-card-title> </mat-card-header>

  <mat-card-content
    fxFlexAlign="center"
    fxFlex=""
    class="form"
    fxLayout="column"
    fxLayoutAlign="center stretch"
  >
    <mat-form-field fxFlex="" class="form-field">
      <input #userid matInput mdc-text-field placeholder="Email" [formControl]="emailFormControl" />
      <mat-hint>e.g. justin@pico9.io</mat-hint>
      <mat-error
        *ngIf="emailFormControl.hasError('pattern')"
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions fxFlexAlign="center" fxFlex="10px">
    <button mat-button (click)="onDismiss()">Cancel</button>
    <button
      mat-button
      [disabled]="isWrong()"
      (click)="onDone(userid.value)"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
