<mat-card fxLayout='column' fxLayoutAlign="start stretch">
  <mat-card-header>
    <div mat-card-avatar>
      <!-- <mat-icon>insert_chart_outline</mat-icon> -->
      <img [src]="'../../assets/logo40x40.png'" alt="image">
    </div>
    <mat-card-title>Near Term Energy Forecast</mat-card-title>
    <mat-card-subtitle>Keystone Project Demo</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content fxFlexAlign="center" fxFlex="380px">

    <div class="form" fxLayout='column' fxLayoutAlign="center stretch">

      <mat-form-field fxFlex="80px" class="form-field">
        <input #userid matInput mdc-text-field placeholder="Email" [formControl]="emailFormControl">
        <mat-hint>e.g. justin@pico9.io</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="120px" class="form-field">
        <!-- <input matInput  placeholder="Password" [(ngModel)]="password" type="password" name="password" required> -->
        <input #pass matInput placeholder="Password" [formControl]="passFormControl" type="password" name="password"
          [maxLength]="'18'">
        <mat-hint>6 to 18 characters</mat-hint>
        <mat-error *ngIf="passFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passFormControl.hasError('minlength')">
          Minimum length must &gt;= <strong>6</strong>
        </mat-error>
        <!-- <mat-error *ngIf="passFormControl.hasError('maxlength')">
          Minimum length must =&lt; <strong>12</strong>
        </mat-error> -->
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions fxFlexAlign="center">
    <button mat-fab [disabled]="isWrong()" color="primary" (click)="signIn(userid.value,pass.value)">Sign In</button>
    <!-- <button mat-raised-button (click)="login()" color="primary">Sign In</button> -->
  </mat-card-actions>
</mat-card>

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner> -->
