<div  class="toplevel">
  <div mat-dialog-title style="text-align: center;">
    <label>Near Team Energy Forecast </label>
    <p style="text-align: center;">NTEF 2019-2022 &copy;</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>UI App: Justin Young</p>
    <p>Backend: Justin Young</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="close">
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Close</button>
  </div>
</div>
