<mat-toolbar color="primary" class="eft-fixed-header mat-elevation-z6">
  <!-- <button mat-icon-button matTooltip="toggle alert" (click)="toggleDrawer()">
    <mat-icon *ngIf="!isDrawerOpen">chevron_right</mat-icon>
    <mat-icon *ngIf="isDrawerOpen">chevron_left</mat-icon>
  </button> -->

  <!-- <button mat-icon-button [matMenuTriggerFor]="menu"> -->
  <!-- (click)="drawer.toggle()" -->
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngIf="hasManagerRight()">
      <!-- <mat-icon>home</mat-icon> -->
      <span (click)="registerUserDialog()">Register User</span>
    </button>

    <button mat-menu-item *ngIf="hasManagerRight()">
      <!-- <mat-icon>people_outline</mat-icon> -->
      <span (click)="openDeleteUserDialog()">Manage Users</span>
    </button>

    <button mat-menu-item>
      <!-- <mat-icon>home</mat-icon> -->
      <span (click)="openUpdateUserDialog()">Edit Settings</span>
    </button>
  </mat-menu>

  <span class="eft-spacer"></span> <span class="eft-spacer">NWPCC Near Term Energy Forecast</span>

  <!-- <button mat-icon-button matTooltip="Upload data for ML">
    <mat-icon>cloud_upload</mat-icon>
  </button> -->

  <!-- <button mat-icon-button matTooltip="Download CSV" (click)="downloadCSV()">
    <mat-icon>cloud_download</mat-icon>
  </button> -->

 

  <button mat-icon-button matTooltip="Help" (click)="openHelp()">
    <mat-icon>help</mat-icon>
  </button>

  <button mat-icon-button matTooltip="About" (click)="openAboutialog()">
    <mat-icon>info</mat-icon>
  </button>

  <button mat-icon-button matTooltip="{{ userID }}" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button matTooltip="Logout" mat-icon-button (click)="signOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
